<%- include('../includes/head', { pageTitle: 'All Orders' }) %>
  <link rel="stylesheet" href="/styles/orders.css">
  <script src="/scripts/order-management.js" defer></script>

  </head>

  <body>
    <%- include('../includes/header') %>
      <main>
        <h1>Book Loan Requests</h1>
        <h3>Use the drop down menu to aprove a book loan, mark it as returned, or signal to the user that the reqest is rejected.</h3>
        <ol>
          <% for (const order of orders) { %>
            <li>
              <%- include('../includes/order-item', { order: order }) %>
            </li>
            <% } %>
        </ol>
      </main>
  </body>

  </html>