<header id="main-header">
  <div id="logo"><a href="/">The Library</a></div>
  <nav>
    <ul class="nav-items">
        <!-- <li><a href="/">Shop</a></li> -->
        <!-- <li><a href="/cart">Cart <span class="badge">20</span></a></li> -->
    
        <!-- <li><a href="/orders">Orders</a></li> -->
    
        <li><a href="/admin/products">Manage Products</a></li>
        <!-- <li><a href="/admin/orders">Manage Orders</a></li> -->
    
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
    
        <li>
          <form action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
    </ul>
  </nav>
    <!-- Hamburher menu for mobiles -->
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
</header>



<!-- The aside is for the mobile option. Its just the same nav items as before -->
<aside id="mobile-menu">
  <nav>
    <ul class="nav-items">
      <li><a href="/">Shop</a></li>
      <li><a href="/cart">Cart <span class="badge">20</span></a></li>
  
      <!-- <li><a href="/orders">Orders</a></li>
  
      <li><a href="/admin/products">Manage Products</a></li>
      <li><a href="/admin/orders">Manage Orders</a></li> -->
  
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
  
      <li>
        <form action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </li>
  </ul>
  </nav>
</aside>