<%- include('./includes/head', {pageTitle: "All books" }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/product-management.js" defer></script>

</head>


  <body>
    <%- include('./includes/header') %>

    <main>
      <h1>Library Catalogue</h1>
      
      <ul id="products-grid">
        <% for (const book of books) { %>
          <li>
            <%- include('includes/book-item', { book: book }) %>
          </li>
        <% } %>
      </ul>
    </main>

  </body>

  </html>